header {
    background-color: $clr1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    h1 {
        color: $clr5;
        margin-bottom: rem(13px);
    }
    i {
        cursor: pointer;
    }
    nav {
        width: 30%;
        display: flex;
        justify-content: space-between;
        color: $clr5;
        > * {
            color: $clr5;
            text-decoration: none;
        }
    }
}
